<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberTracker - About</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/calendar">Calendar</a>
        <a href="/crypto">Crypto</a>
        <a href="/about">About</a>
    </div>

    <div class="container">
        <h2>About CyberTracker</h2>
        <p>CyberTracker is an advanced platform designed to empower individuals and organizations in their fight against cyber threats. By leveraging industry-leading APIs and real-time data analysis, we provide actionable insights to protect your assets and information.</p>
        <p>Fun side project that's utilizing APIs from VirusTotal and AbuseIPDB. The frontend is using React while the backend is using Flask. Great introduction to CSS, the use of APIs, React and Flask, and managing/ troubleshooting servers.</p>
    </div>
</body>
</html>
